
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #272B38;
    overflow: hidden;
}


#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


header {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}


main {
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
